{% extends "apsched.html" %}
{% block apsched_form %}
<section>
    <div class="col-lg-7" style="padding-top: 50px; border: 1px;">
        <div class="pull-right">
            <!--<button class="btn btn-primary ">删除项目</button>-->
            <button class="btn btn-primary " data-toggle="modal" data-target="#myModal">创建项目</button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                  <th>项目名称</th>
                  <th>爬虫总数</th>
                  <th>nodeName</th>
                  <th>创建时间</th>
                  <th>当前版本</th>
                </tr>
              </thead>
            <tbody>
            {% for data in re_list %}
                <tr onclick="click_to(this)">
                    <td>{{data['project_name']}}</td>
                    <td>{{data['spiders']}}</td>
                    <td>{{data['node_name']}}</td>
                    <td>{{data['create_date']}}</td>
                    <td>{{data['version']}}</td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>

    <form class="form-horizontal" role="form" method="post" action="/scdMain/create_project">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            创 建 项 目
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">项目名称: </label>
                            <div class="col-sm-9">
                                <input type="text" id="name" name="name" class="form-control well" placeholder="请输入项目名称"/>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label for="version" class="col-sm-2 control-label">版本号: </label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<input type="text" id="version" name="version" class="form-control well" placeholder="请输入版本号"/>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label for="introduce" class="col-sm-2 control-label">项目简介: </label>
                            <div class="col-sm-9">
                                <input type="text" id="introduce" name="introduce" class="form-control well" placeholder="请输入项目简介"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            提交
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </form>

</section>
<script>
    function click_to(obj) {
        var project = obj.cells[0].innerHTML;
        url = '/spiMain/spider_base?project=' + project;
        window.location.href= url;
//        window.open('你所要跳转的页面');
    }
</script>
{% endblock %}