{% extends "apsched.html" %}
{% block apsched_form %}
<section>
    <div class="col-lg-7" style="padding-top: 50px; border: 1px;">
        <div class="pull-right">
            <!--<button class="btn btn-primary ">删除项目</button>-->
            <button class="btn btn-primary " data-toggle="modal" data-target="#myModal">创建爬虫</button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                  <th>爬虫名称</th>
                  <th>所属项目</th>
                  <th>nodeName</th>
                  <th>创建时间</th>
                  <th>当前版本</th>
                  <th>当前状态</th>
                  <th>持续时间(分钟)</th>
                </tr>
              </thead>
            <tbody>
            {% for data in re_list %}
                <tr>
                    <td>{{data['spider']}}</td>
                    <td>{{data['project']}}</td>
                    <td>{{data['node_name']}}</td>
                    <td>{{data['create_date']}}</td>
                    <td>{{data['version']}}</td>
                    <td>{{data['status']}}</td>
                    <td>{{data['status_time(minu)']}}</td>
                    {% if data['status'] == 'stop' %}
                    <td><button class="btn btn-success btn-sm">启动</button></td>
                    {% else %}
                    <td><button class="btn btn-danger btn-sm">停止</button></td>
                    {% endif %}
                </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
    <div class="col-lg-1"></div>
    <form class="form-horizontal" role="form" method="post" action="/scdMain/create_spider">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            创 建 爬 虫
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">爬虫名称: </label>
                            <div class="col-sm-9">
                                <input type="text" id="name" name="name" class="form-control well" placeholder="请输入爬虫名称"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="project" class="col-sm-2 control-label">所属项目: </label>
                            <div class="col-sm-9">
                                <input type="text" id="project" name="project" class="form-control well" placeholder="请输入所属项目"/>
                            </div>
                        </div><div class="form-group">
                            <label for="website" class="col-sm-2 control-label">爬取链接: </label>
                            <div class="col-sm-9">
                                <input type="text" id="website" name="website" class="form-control well" placeholder="请输入爬取链接"/>
                            </div>
                        </div><div class="form-group">
                            <label for="introduce" class="col-sm-2 control-label">爬虫简介: </label>
                            <div class="col-sm-9">
                                <input type="text" id="introduce" name="introduce" class="form-control well" placeholder="请输入爬虫简介"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            提交
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </form>
</section>

{% endblock %}