{% extends "apsched.html" %}
{% block apsched_form %}
<section>
    <div class="col-lg-7" style="padding-top: 50px; border: 1px;">
        <div class="pull-right">
            <!--<button class="btn btn-primary ">删除项目</button>-->
            <button class="btn btn-primary " data-toggle="modal" data-target="#myModal">创建爬虫</button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                  <th>爬虫名称</th>
                  <th>所属项目</th>
                  <th>nodeName</th>
                  <th>创建时间</th>
                  <th>当前版本</th>
                  <th>当前状态</th>
                  <th>持续时间(分钟)</th>
                </tr>
              </thead>
            <tbody>
            {% for data in re_list %}
                <tr data-toggle="modal" data-target="#setSpider">
                    <td>{{data['spider']}}</td>
                    <td>{{data['project']}}</td>
                    <td>{{data['node_name']}}</td>
                    <td>{{data['create_date']}}</td>
                    <td>{{data['version']}}</td>
                    <td>{{data['status']}}</td>
                    <td>{{data['status_time(minu)']}}</td>
                    <td id='sp_url' style="display:None;">{{data['spider_url']}}</td>
                    {% if data['status'] == 'stop' %}
                    <td><button class="btn btn-success btn-sm">启动</button></td>
                    {% else %}
                    <td><button class="btn btn-danger btn-sm">停止</button></td>
                    {% endif %}
                </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
    <form class="form-horizontal" role="form" method="post" action="/scdMain/create_spider">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            创 建 爬 虫
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">爬虫名称: </label>
                            <div class="col-sm-9">
                                <input type="text" id="name" name="name" class="form-control well" placeholder="请输入爬虫名称"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="project" class="col-sm-2 control-label">所属项目: </label>
                            <div class="col-sm-9">
                                <select id="project" name="project" class="form-control">
                                    {% for pro in project_list %}
                                    <option>{{pro}}</option>
                                    {% endfor%}
                                </select>
                            </div>
                        </div><div class="form-group">
                            <label for="website" class="col-sm-2 control-label">爬取链接: </label>
                            <div class="col-sm-9">
                                <input type="text" id="website" name="website" class="form-control well" placeholder="请输入爬取链接"/>
                            </div>
                        </div><div class="form-group">
                            <label for="introduce" class="col-sm-2 control-label">爬虫简介: </label>
                            <div class="col-sm-9">
                                <input type="text" id="introduce" name="introduce" class="form-control well" placeholder="请输入爬虫简介"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            提交
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </form>
    <form class="form-horizontal" role="form" method="post" action="/spiMain/set_spider">
        <div class="modal fade" id="setSpider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="setSpiderhead">
                            定义爬虫规则
                        </h4>
                    </div>
                    <div class="modal-body" id="spider_modal_body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="addLabel(this)">增加内容</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            提交
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal -->
    </form>
</section>

{% endblock %}

<div class="form-group">
                            <!--<label for="allowed_domains" class="col-sm-2 control-label">限定域名</label>-->
                            <!--<div class="col-sm-10">-->
                              <!--<input type="url" class="form-control" id="allowed_domains" placeholder="限定域名,不限定则填0">-->
                            <!--</div>-->
                          <!--</div><div class="form-group">-->
                            <!--<label for="start_url" class="col-sm-2 control-label">起始url</label>-->
                            <!--<div class="col-sm-10">-->
                              <!--<input type="url" class="form-control" id="start_url" placeholder="起始url">-->
                            <!--</div>-->
                          <!--</div><div class="form-group">-->
                            <!--<label for="next_page" class="col-sm-2 control-label">下页规则</label>-->
                            <!--<div class="col-sm-10">-->
                              <!--<input type="text" class="form-control" id="next_page" placeholder="下一页规则,没有则不填">-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="form-group">-->
                            <!--<label for="body_url_1" class="col-sm-2 control-label">内容url</label>-->
                            <!--<div class="col-sm-10">-->
                              <!--<input type="text" class="form-control" id="body_url_1" placeholder="内容页面url(起始url和获取内容url不同时填写)">-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="form-group">-->
                            <!--<label for="body1" class="col-sm-2 control-label">内容规则</label>-->
                            <!--<div class="col-sm-10">-->
                              <!--<input type="text" class="form-control" id="body1" placeholder="需要获取的内容-匹配规则">-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="form-group">-->
                            <!--<label for="body2" class="col-sm-2 control-label">内容规则</label>-->
                            <!--<div class="col-sm-10">-->
                              <!--<input type="text" class="form-control" id="body2" placeholder="需要获取的内容-匹配规则">-->
                            <!--</div>-->
                          <!--</div>-->
                          <!--<div class="form-group">-->
                            <!--<label for="body3" class="col-sm-2 control-label">内容规则</label>-->
                            <!--<div class="col-sm-10">-->
                              <!--<input type="text" class="form-control" id="body3" placeholder="需要获取的内容-匹配规则">-->
                            <!--</div>-->
                          <!--</div>-->
