{% extends "apsched.html" %}
{% block apsched_form %}
<section>
    <div class="col-lg-7" style="padding-top: 50px; border: 1px;">
        <div class="pull-right">
            <!--<button class="btn btn-primary ">删除项目</button>-->
            <button href="/scdMain/create_project" class="btn btn-primary " data-toggle="modal" data-target="#myModal">创建任务</button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                  <th>任务名称</th>
                  <th>工作次数</th>
                  <th>任务简介</th>
                  <th>创建时间</th>
                  <th>创建人</th>
                  <th>当前状态</th>
                </tr>
              </thead>
            <tbody>
            {% for data in re_list %}
                <tr>
                    <td>{{data['task_name']}}</td>
                    <td>{{data['work_num']}}</td>
                    <td>{{data['introduce']}}</td>
                    <td>{{data['create_date']}}</td>
                    <td>{{data['create_pre']}}</td>
                    <td>{{data['status']}}</td>
                    {% if data['status'] == 'stop' %}
                    <td><button class="btn btn-success btn-sm">启动</button></td>
                    {% else %}
                    <td><button class="btn btn-danger btn-sm">停止</button></td>
                    {% endif %}
                </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
    <form class="form-horizontal" role="form" method="post" action="/taskMain/create_task" onload="load()">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            创 建 任 务
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">任务名称: </label>
                            <div class="col-sm-9">
                                <input type="text" id="name" name="name" class="form-control well" placeholder="请输入任务名称"/>
                            </div>
                        </div>
                        <div>
                            <label for="content" class="col-sm-2 control-label">调度类型: </label>
                            <div class="col-sm-9 form-inline form-group" id="content" >
                                <div style="display: inline-block;">
                                    <select class="form-control" name="dy_type" id="dy_type" onchange="changeCity(this)">
                                        <option>date</option>
                                        <option>interval</option>
                                    </select>
                                </div>
                                <span>&nbsp&nbsp&nbsp</span>
                                <div style="display: none" id="py_content" class="form-inline">
                                    <b>频率: 每</b>
                                    <div class="input-group ">
                                        <input type="text" class="form-control" name="dy_vv" style="width: 45px; border-radius:4.5px;">
                                    </div>
                                    <select class="form-control" id="dy_value" name="dy_value">
                                        <option></option>
                                    </select><b>执行一次</b><br>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="start_time" class="col-sm-2 control-label">开始时间: </label>
                            <div class="col-sm-9">
                                <input type="text" id="start_time" name="start_time" class="form-control well" placeholder="例：2018年1月23日 15:02:59"/>
                            </div>
                        </div><div class="form-group">
                            <label for="end_time" class="col-sm-2 control-label">结束时间: </label>
                            <div class="col-sm-9">
                                <input type="text" id="end_time" name="end_time" class="form-control well" placeholder="例：2018年1月23日 15:02:59"/>
                            </div>
                        </div><div class="form-group">
                            <label for="project" class="col-sm-2 control-label">项目名称: </label>
                            <div class="col-sm-9">
                                <input type="text" id="project" name="project" class="form-control well" placeholder="例：testproject"/>
                            </div>
                        </div><div class="form-group">
                            <label for="spider" class="col-sm-2 control-label">爬虫名称: </label>
                            <div class="col-sm-9">
                                <input type="text" id="spider" name="spider" class="form-control well" placeholder="例：testspider"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="introduce" class="col-sm-2 control-label">任务简介: </label>
                            <div class="col-sm-9">
                                <input type="text" id="introduce" name="introduce" class="form-control well" placeholder="请输入任务简介"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            提交
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </form>

    <script>
        var province=document.getElementById("dy_type");
        var city=document.getElementById("dy_value");
        var arr_prov=new Array(new Option("date",'date'),new Option("interval","interval"));
        var arr_city=new Array();
        arr_city[0]=new Array(new Option("无", 'none'));
        arr_city[1]=new Array(new Option("天",'d'),new Option("小时",'h'),new Option("分钟",'m'),new Option("秒",'s'));
        function load(){
            for(var i=0;i<arr_prov.length;i++){
                province.options[i]=arr_prov[i];
            }
        }
        function changeCity(){
            //清空上次的选项
            city.options.length=0;
            var index=province.selectedIndex;
            for(var i=0;i<arr_city[index].length;i++){
                city.options[i]=arr_city[index][i];
            }
            var ui =document.getElementById("py_content");
            if(ui.style.display=='none'){
                ui.style.display='inline';
            }
            else{
                ui.style.display='none';
            }
        }
    </script>
</section>
{% endblock %}